// $gray-color : #333; 
$dark-gray-color : #95999C; 
$light-gray-color : #C3C7C6; 
$green-color : #68BE63;
$white-color : #fff; 
$black-color : #000;
$black-ligth-color : #222;
$red-color: #FF0000;
$orange-color : #d9378f; 
$yellow-color : #d9378f; 

$facebook-color: #3B5998;
$facebook-dark-color: #355088;
$twitter-color: #55acee;
$twitter-dark-color: #4c9ad6;
$google-color:  #d34836;
$google-dark-color:  #bd4030;
