$gray-color : #333; 
$dark-gray-color : #080808; 
$white-color : #fff; 
$green-color : #46c88c; 
$pink-color : #d9378f; 
$black-color : #000;
$facebook-color: #3B5998;
$facebook-dark-color: #355088;
$twitter-color: #55acee;
$twitter-dark-color: #4c9ad6;
$google-color:  #d34836;
$google-dark-color:  #bd4030;
$red-color: #FF0000;
$light-gray-color : #b8b8b8; 