/* @font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helveticaneue/HelveticaNeue.eot') format('eot'),
         url('../fonts/helveticaneue/HelveticaNeue.woff') format('woff'),
         url('../fonts/helveticaneue/HelveticaNeue.otf') format('otf'),
         url('../fonts/helveticaneue/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/helveticaneue/HelveticaNeue.svg') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueBd';
    src: url('../fonts/helveticaneue/HelveticaNeueBd.eot') format('eot'),
         url('../fonts/helveticaneue/HelveticaNeueBd.woff') format('woff'),
         url('../fonts/helveticaneue/HelveticaNeueBd.otf') format('otf'),
         url('../fonts/helveticaneue/HelveticaNeueBd.ttf') format('truetype'),
         url('../fonts/helveticaneue/HelveticaNeueBd.svg') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueHv';
    src: url('../fonts/helveticaneue/HelveticaNeueHv.eot') format('eot'),
         url('../fonts/helveticaneue/HelveticaNeueHv.woff') format('woff'),
         url('../fonts/helveticaneue/HelveticaNeueHv.otf') format('otf'),
         url('../fonts/helveticaneue/HelveticaNeueHv.ttf') format('truetype'),
         url('../fonts/helveticaneue/HelveticaNeueHv.svg') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueMed';
    src: url('../fonts/helveticaneue/HelveticaNeueMed.eot') format('eot'),
         url('../fonts/helveticaneue/HelveticaNeueMed.woff') format('woff'),
         url('../fonts/helveticaneue/HelveticaNeueMed.otf') format('otf'),
         url('../fonts/helveticaneue/HelveticaNeueMed.ttf') format('truetype'),
         url('../fonts/helveticaneue/HelveticaNeueMed.svg') format('svg');
}

@font-face {
    font-family: 'RSUBd';
    src: url('../fonts/rsu/RSU_BOLD.eot') format('eot'),
         url('../fonts/rsu/RSU_BOLD.woff') format('woff'),
         url('../fonts/rsu/RSU_BOLD.otf') format('otf'),
         url('../fonts/rsu/RSU_BOLD.ttf') format('truetype'),
         url('../fonts/rsu/RSU_BOLD.svg') format('svg');
}

@font-face {
    font-family: 'RSULight';
    src: url('../fonts/rsu/RSU_light.eot') format('eot'),
         url('../fonts/rsu/RSU_light.woff') format('woff'),
         url('../fonts/rsu/RSU_light.otf') format('otf'),
         url('../fonts/rsu/RSU_light.ttf') format('truetype'),
         url('../fonts/rsu/RSU_light.svg') format('svg');
}

@font-face {
    font-family: 'RSURegular';
    src: url('../fonts/rsu/RSU_Regular.eot') format('eot'),
         url('../fonts/rsu/RSU_Regular.woff') format('woff'),
         url('../fonts/rsu/RSU_Regular.otf') format('otf'),
         url('../fonts/rsu/RSU_Regular.ttf') format('truetype'),
         url('../fonts/rsu/RSU_Regular.svg') format('svg');
}


$font-default : 16px; 

$break-extra-small: 480px;
$break-small: 768px;
$break-medium: 992px;
//mobile 320 375 425 768 1024 1440
$break-large: 1200px;

body {
    color: $gray-color;
    font-size: $font-default;
    font-family: 'HelveticaNeueMed';
    // font-weight: 700;
}   
    

h1 {
    font-size: 3.2em;
    font-family: 'RSURegular','HelveticaNeueMed';
    font-weight: bold;
}

h2 {
    font-size: 2.8em;
    font-family: 'RSURegular','HelveticaNeueMed';
    font-weight: bold;
}

h3 {
    font-size: 2.4em;
    font-family: 'RSURegular','HelveticaNeueMed';
    font-weight: bold;
}

h4 {
    font-size: 2em;
    font-family: 'RSURegular','HelveticaNeueMed';
    font-weight: bold;
}

h5 {
    font-size: 1.6em;
    font-family: 'RSURegular','HelveticaNeueMed';
    font-weight: bold;
}

h6 {
    font-size: 1.2em;
    font-family: 'RSURegular','HelveticaNeueMed';
    font-weight: bold;
}

img {
    width: auto;
    max-width: 100%;
}

a {
    font-family: 'HelveticaNeueMed';

}

p {
    font-size: 0.6em;

}

footer {
    position: relative;
}

@media only screen and (max-width : $break-extra-small) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.875em;
    }

    h3 {
        font-size: 1.5em;
    }

    h4 {
        font-size: 1.125em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 0.7em;
    }
} */