@import "colors.scss";
@import "fonts.scss";


.bg-light-black{
	background-color:$black-light-color;
	color: $white-color;
}

.bg-black{
	background-color:$black-color;
	color: $white-color;
}
.right {
	text-align:right;
}

.box-sum{
	padding: 5px;
	background-color:$white-color;
	min-height: 100px;
	color: $dark-gray-color;
	a {
		color: $dark-gray-color;
	}
	b {
		color: $black-color;
	}
	.box-sum-icon {
		img {
			margin-top: 15px;
			width: 30px;
		}
	}
	.readmore {
		margin-top: 5px;
	}
	.progress {
	    height: 8px;
	    margin: 10px 0px;
	    .progress-bar {
			line-height: 8px;
		}
	}
	
}



.part2 {
	h4{
		margin-bottom: 0px;
	}
	.box-detail {
		background-color:$black-light-color;
		color: $white-color;
		// margin:0px 15px;
	}
	.box-team {
		min-height: 150px;
		// min-width: 100px;
		// margin: auto 0;
		text-align: center;
		display: inline-block;
  		vertical-align: middle;
	}
}